
.main_item img {
    float: left;
}

.main_item {
    padding-bottom: 5px;
    border-bottom: solid 1px gainsboro;
}

.more_info{
    display: inline-block;
}

.news_icon {
    height: 28px;
}

.main_bottom {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    color: gray;
    font-size: 15px;
}

.main_img {
    height: 90px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.main_header {
    margin: 10px;
}

.area {
    font-size: 15px;
    margin-left: 5px;
    color: burlywood;
    padding: 2px;
    border: 2px solid burlywood;
}