.albumItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    border-bottom: gray solid 1px;
}

.albumItem:hover{
    cursor: pointer;
}

.albumCover {
    flex: 3 0 auto;

}

.albumInfo {
    flex: 7 0 auto;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
}

.albumTitle {
    font-size: small;
    text-overflow: ellipsis;
    overflow: hidden;

}

.albumSize {
    margin-top: auto;
    color: darkgray;
    font-size: small;
}