.bottomBar {
    display: flex;
    background-color:#373737;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 5%;
    right: 5%;

}

.bottomLeft {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.songCover {
    padding-top: 10px;
    width: 70px;
    height: 70px;
}
.songInfo {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.songTitle {
    color: #f6f6f7;
}

.singer {
    font-size: 12px;
    color: #a9a9aa;
}

.bottomCenter {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.playerButton {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.progressText {
    margin-right: 20px;
    color: #f6f6f7;
}

.playerIcon {
    padding-left: 50px;
    padding-right: 50px;
}

.playerIcon :hover{
    cursor: pointer;
}

.bottomRight {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right:10px;
    width: 350px;
}

.rightIcon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}